<div class="columns">
  <div class="column" id= "menu">
    <aside class="menu" >
      <figure class="image is-128x128" >
        <img class="is-rounded" src="https://cdn.dribbble.com/users/1355613/screenshots/10555328/media/aaa94d5016561c4faba977333269fb3a.jpg" alt="Profile picture">
    </figure>
      
      <ul class="menu-list">
        <li><a >Pedidos</a></li>
        <li><a routerLink="/productos" routerLinkActive="active-link"> Productos</a></li>
      </ul>
  
     
    </aside>
  </div>
  <div class="column">
    <div class="">
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>
