/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #5C8AFF;
    --secondary-color: #FE9637;
    --navbar-color: #E9EBFA;
    --background: #fff;
    --font-color: #222428;

  

  
  
  }
  body {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--background);
    color: var(--font-color) !important;

    button {
      font-family: 'Quicksand', sans-serif !important;
    }
  }

  .is-primary {
    background-color: var(--primary-color) !important;
    color: white !important;
  }

  .is-primary-reverse {
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important; ;
    background-color: white !important;
  }

  .is-secondary {
    background-color: var(--secondary-color) !important;
    color: white !important;
  }


  .mr {
    margin-right: 10px;
  }
